.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* .report-form {
  ba
} */



/* Navigation Bar Styles */
.navbar {
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0 15px;
}

/* Dashboard Container Styles */
.dashboard-container {
  background-color: gray;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Notification Panel Styles */
.notification-panel {
  background-color: white;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Form and Real-Time Data Styles */
/* .form-container {
  background-color: white;
  padding: 20px;
  border: 1px solid orange;
  border-radius: 5px;
  width: 80%;
  margin-bottom: 20px;
}

.real-time-data {
  background-color: white;
  padding: 20px;
  border: 1px solid orange;
  border-radius: 5px;
  width: 80%;
}
 */


.report-form .form-group {
  margin-bottom: 15px;
  width: 200px;
}

.report-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.report-form input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.report-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.report-form button:hover {
  background-color: #45a049;
}


.notification {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.success {
  background-color: #4caf50;
  color: white;
}

.error {
  background-color: #f44336;
  color: white;
} 
